.auth {
    background-color: rgba(32, 201, 151, 0.1);
    height: 100vh;

    .form-login {
        border-radius: 20px;
        margin-top: 30px;
        padding: 30px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
    }

    .icon{
        cursor: pointer;
    }
    
    img {
        padding-top: 5px;
    }

    .image {
        justify-content: center;
        margin: auto;
    }

    .form-input {
        margin-top: 2rem;
        margin-left: 2rem;
        margin-right: 2rem;
        margin: auto;
        padding: 25px;

        button {
            width: 100%;
            color: #fff;
            margin-top: 2rem;
        }

        .linkfield {
            margin-top: 1em;
            display: flex;
            justify-content: flex-end;
            padding-bottom: 1em;
            color: $color-gray;
        }
}
}